p{
	background : orchid ; color : greenyellow ; font-variant : normal  ; font-size : 3em ; font-weight : normal ; border :10px; border-style : 	ridge ;          		 ;
}
a{
	background : yellow ; color : red ; 
}
h1{ border-width : 20px; border-style : outset;
	
}

